@model InternshipsManagmentProject.Models.HomeStudent


<h1>Internships</h1>
@Model.Internships


<table class="table">

    @{ int count = 0;}
    @foreach (var internship in Model.Internships)
    {
        if (count == 0)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => internship.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => internship.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => internship.City)
                </th>

                <th>
                    @Html.DisplayNameFor(model => internship.Firm.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => internship.Category)
                </th>
            </tr>
        } else {
            <td>
                @Html.DisplayFor(modelItem => internship.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => internship.Description)
            </td>
            <td>
                @Html.DisplayFor(model => internship.City)
            </td>

            <td>
                @Html.DisplayFor(model => internship.Firm.Name)
            </td>
            <td>
                @Html.DisplayFor(model => internship.Category)
            </td>
            <td>
                @Html.ActionLink("Apply", "StudentInternship", "Create", new { id = internship.InternshipId }, null)
            </td>
        }
        count++;

    }

</table>