@model InternshipsManagmentProject.Data.Student

@{
    ViewBag.Title = "Student Profile";
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<link href="~/Content/Student.css" rel="stylesheet" />
<script src="/Scripts/Student.js"></script>

@if (Model != null && Model.Name != null && Model.LastName != null)
{
    <h4>@Model.Name  @Model.LastName</h4>
}

<table>

    <tr>
        <td c id="parent_left">
            <div id="panel_left">
                <div><img class="profile_pic img-circle" src="@Url.Content("~/Content/Images/"+@Model.AspNetUser.Image.Name)" alt="Profile Photo" /></div>
                <div>@*@Model.N @Model.LastName*@</div>

                <br />

                <ul id="menu">
                    <li class="">Aplicarile Mele</li>
                    <li>Editare Cont</li>
                </ul>
            </div>
        </td>
        <td>
            <div id="panel_right">
                <div>
                    <h3>Aplicarile Mele</h3>
                    @if (Model.StudentInternships != null && Model.StudentInternships.Count > 0)
                    {


                        foreach (var item in Model.StudentInternships)
                        {
                            <div class="internship">

                                <span class="internship_drop"><strong>\/ <strong>@item.Internship.Title</strong></strong></span>

                                @if (item.Stage == "rejected")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="is-active progress__last red" data-step="">Rejected</li>
                                    </ol>
                                    <div>
                                        <br />
                                        You have been rejected... womp womp womp...
                                    </div>
                                }
                                else if (item.Stage == "0")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-active" data-step="">Sent CV</li>
                                        <li class="" data-step="">Response</li>
                                        <li class="" data-step="">Accepted</li>
                                        <li class="" data-step="">In Progress</li>
                                        <li class="progress__last" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        Ati trimis CV-ul.
                                        <br />
                                        <input type="submit" value="Sent CV" disabled>
                                    </div>
                                }
                                else if (item.Stage == "1")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-active" data-step="">Response</li>
                                        <li class="" data-step="">Accepted</li>
                                        <li class="" data-step="">In Progress</li>
                                        <li class="progress__last" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        CV-ul a fost primit de catre Firma.
                                        <br />
                                        <input type="submit" value="Waiting Response" disabled>
                                    </div>
                                }
                                else if (item.Stage == "2")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="is-active green2" data-step="">Accepted</li>
                                        <li class="" data-step="">In Progress</li>
                                        <li class="progress__last" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        Ati fost acceptat de firma!
                                        <br />
                                        <div>@Html.ActionLink("Accepta", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "3" }, new { @class = "btn primary" })</div>
                                        <div>@Html.ActionLink("Refuza", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "refused" }, new { @class = "btn primary" })</div>
                                    </div>
                                }
                                else if (item.Stage == "3")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="is-complete" data-step="">Accepted</li>
                                        <li class="is-active blue2" data-step="">In Progress</li>
                                        <li class="progress__last" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        Internship-ul se intampla.
                                    </div>
                                }
                                else if (item.Stage == "4")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="is-complete" data-step="">Accepted</li>
                                        <li class="is-complete" data-step="">In Progress</li>
                                        <li class="is-active yellow" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        Multumim pentru participare. Feedback-ul este apreciat.
                                        <br />
                                        Rate:
                                        <div>@Html.ActionLink("1", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "done", rate = 1 }, new { @class = "btn primary" })</div>
                                        <div>@Html.ActionLink("2", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "done", rate = 2 }, new { @class = "btn primary" })</div>
                                        <div>@Html.ActionLink("3", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "done", rate = 3 }, new { @class = "btn primary" })</div>
                                        <div>@Html.ActionLink("4", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "done", rate = 4 }, new { @class = "btn primary" })</div>
                                        <div>@Html.ActionLink("5", "StudentStuff", "Student", new { id = item.Student.StudentId, id2 = item.Internship.InternshipId, newStage = "done", rate = 5 }, new { @class = "btn primary" })</div>
                                        Stars
                                    </div>
                                }
                                else if (item.Stage == "refused")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="is-active progress__last red" data-step="">Rejected</li>
                                    </ol>
                                    <div>
                                        Ati refuzat Internship-ul.
                                    </div>
                                }
                                else if (item.Stage == "done")
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="is-complete" data-step="">Accepted</li>
                                        <li class="is-complete" data-step="">In Progress</li>
                                        <li class="is-complete" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        Ati dat Rating.
                                    </div>
                                }
                                else
                                {
                                    <ol class="progress progress--large">
                                        <li class="is-complete" data-step="">Sent CV</li>
                                        <li class="is-complete" data-step="">Response</li>
                                        <li class="" data-step="">Accepted</li>
                                        <li class="" data-step="">In Progress</li>
                                        <li class="progress__last yellow" data-step="">Review</li>
                                    </ol>
                                    <div>
                                        <br />
                                        Ponei zburatori
                                    </div>
                                }
                            </div>
                        }
                    }
                    else {
                        <div>Nu ai aplicat la niciun Internship.</div>
                    }
                </div>
                <div>
                    <h3>Editare Cont</h3>
                    <div id="partialTest">
                        @Html.Partial("StudentRegister", Model)
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>




<script>
    var sel = 0;
    if (@ViewBag.Selection!=null) sel = @ViewBag.Selection;
    function RefreshMenu() {
        $("#panel_right>div").addClass("hidden");
        $("#panel_right>div:nth-child(" + (sel + 1) + ")").removeClass("hidden");
        $("#menu>li").attr("class", "menu_grayed");
        $("#menu>li:nth-child(" + (sel + 1) + ")").attr("class", "menu_selected");
    }
    $(()=> {
        RefreshMenu();
        $("#form_button").val("Salveaza modificarile");
        $("#form_submit").val("Salveaza modificarile");
        $(".internship>div").slideUp(0);
        $("#menu>li").click(function () {
            $("#menu>li:nth-child(" + (sel + 1) + ")").attr("class", "menu_grayed");
            sel = $("#menu>li").index(this);
            $(this).attr("class", "menu_selected");
            RefreshMenu();
        });
        $(".internship_drop").click(function () {
            $(this).siblings("div").slideToggle(300);
        });
        $("cbAvailable").change(function () {
            alert("ajax test");
            $.ajax({
                url: "/Student/StudentAvailable",
                context: this.checked
            });
        });
    });
</script>
