@model InternshipsManagmentProject.Data.Internship

@{
    ViewBag.Title = "Sterge internship";
}

<h2>Sterge internship</h2>

<h3>Esti sigur ca vrei sa stergi internship-ul @Model.Title?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recruiter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recruiter.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sterge internship" class="btn btn-danger" />
            @Html.ActionLink("Inapoi la lista", "Index", "Home", null, new { @class="btn btn-primary" })
        </div>
    }
</div>
