@model InternshipsManagmentProject.Data.Internship

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Internship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recruiter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recruiter.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
Comments:
@if (Model.Comments != null)
{
    foreach (var item in Model.Comments)
    {
        <div><strong>@item.Content</strong> posted on <em>@item.DateCreated</em> </div>
        if (item.Files != null && item.Files.Count > 0)
        {
            <span>Attachments:</span>
            foreach (var file in item.Files)
            {
                <div><em>>@file.FileName</em></div>
            }

        }
    }
}
====================
@using (Html.BeginForm("Details", "Internships", FormMethod.Get, new { role = "form", enctype = "multipart/form-data" }))
{
    <input type="text" name="id" readonly value=@Model.InternshipId style="display:none" />
    <span>Comment:</span><input type="text" name="comm_txt" /><br />
    <span>File:</span><input type="file" name="comm_file" />
    <input type="submit" value="Submit" />
}
====================

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InternshipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
