@model IEnumerable<InternshipsManagmentProject.Data.StudentInternship>

@{
    ViewBag.Title = "Aplicari";
}

@if (Model != null && Model.First() != null)
{
    <h2>@Model.First().Internship.Title</h2>
}
else
{
    <h2>Nu sunt aplicari</h2>
}



<table class="table">
   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
           
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.ActionLink("Rezolva", "Edit", new { id = item.StudentId, id2 = item.InternshipId })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Inapoi la Home", "Index", "Home", null, new { @class = "btn btn-primary" })
