@model IEnumerable<InternshipsManagmentProject.Data.StudentInternship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Title)
        </th>
        <th>
            Rezolva
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Internship.Title)
        </td>
        <td>
            @Html.ActionLink("Rezolva", "Edit", new { id = item.StudentId, id2 = item.InternshipId })
        </td>
    </tr>
}

</table>
